<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content={{Error}}>
    <meta property="og:image" content="">
    <title>{{Error}}</title>
    <link rel="icon" href="/static/img/icon/Logo.ico">
    <link type="text/css" rel="stylesheet" href="/static/index.css" />
</head>
<body>
    
</body>
<footer>
    <ul>
        <li><a href="https://www.instagram.com/mitsosdankhouse/"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/MitsosDankhouse"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.artstation.com/mitsosart"><i class="fa-brands fa-artstation"></i></a></li>
    </ul>
    <div class="copy--footer">
        <p>&copy; {{year}} All rights reserved.</p>
    </div>
</footer>
</html>